/* Reset y fuente */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
  background-attachment: fixed;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}
